In [1]:
import pandas as pd

1. csv 불러오기

2. 합치기

In [2]:
df_list =[]

In [3]:
for url in ['csv2.csv', 'csv3.csv', 'csv4.csv']:
    csv = pd.read_csv(url)
    df_list.append(csv)

In [4]:
df = pd.concat(df_list)

In [5]:
df

,이수\n구분,과목코드,교과목명,교수명,강의실/시간
0,교필,AC00013,말과글,오현화,1504 / 수 / 09:00~10:50
1,교필,AC00013,말과글,오현화,1504 / 수 / 11:00~12:50
2,교필,AC00013,말과글,곽승숙,1505 / 수 / 09:00~10:50
3,교필,AC00013,말과글,곽승숙,1505 / 수 / 11:00~12:50
4,교필,AC00013,말과글,오현화,1504 / 목 / 09:00~10:50
...,...,...,...,...,...
193,전선,XE00006,딥러닝프레임워크,미지정,6405 / 목요일 / 09:00~11:50
194,전선,XE00007,확률과랜덤변수,이상윤,6405 / 화요일 / 13:30~14:45\n6405 / 목요일 / 13:30~1...
195,전선,XE00013,Python프로그래밍,홍성준,B105 / 월요일 / 15:00~16:15\nB105 / 수요일 / 15:00~1...
196,전선,XE00014,인공지능캡스톤디자인,이상윤,6405 / 금요일 / 12:00~14:50
197,전선,XE00015,컴퓨터비전,미지정,6405 / 화요일 / 15:00~16:15\n6405 / 목요일 / 15:00~1...

In [6]:
df.reset_index(drop=True, inplace=True)
df

,이수\n구분,과목코드,교과목명,교수명,강의실/시간
0,교필,AC00013,말과글,오현화,1504 / 수 / 09:00~10:50
1,교필,AC00013,말과글,오현화,1504 / 수 / 11:00~12:50
2,교필,AC00013,말과글,곽승숙,1505 / 수 / 09:00~10:50
3,교필,AC00013,말과글,곽승숙,1505 / 수 / 11:00~12:50
4,교필,AC00013,말과글,오현화,1504 / 목 / 09:00~10:50
...,...,...,...,...,...
297,전선,XE00006,딥러닝프레임워크,미지정,6405 / 목요일 / 09:00~11:50
298,전선,XE00007,확률과랜덤변수,이상윤,6405 / 화요일 / 13:30~14:45\n6405 / 목요일 / 13:30~1...
299,전선,XE00013,Python프로그래밍,홍성준,B105 / 월요일 / 15:00~16:15\nB105 / 수요일 / 15:00~1...
300,전선,XE00014,인공지능캡스톤디자인,이상윤,6405 / 금요일 / 12:00~14:50
301,전선,XE00015,컴퓨터비전,미지정,6405 / 화요일 / 15:00~16:15\n6405 / 목요일 / 15:00~1...

3. 열 변수 이름 변경
chapel.columns = ['kind','code','class_name','prof','room_time']

In [7]:
df.columns = ['kind','code','classname','prof','roomNtime']
df

,kind,code,classname,prof,roomNtime
0,교필,AC00013,말과글,오현화,1504 / 수 / 09:00~10:50
1,교필,AC00013,말과글,오현화,1504 / 수 / 11:00~12:50
2,교필,AC00013,말과글,곽승숙,1505 / 수 / 09:00~10:50
3,교필,AC00013,말과글,곽승숙,1505 / 수 / 11:00~12:50
4,교필,AC00013,말과글,오현화,1504 / 목 / 09:00~10:50
...,...,...,...,...,...
297,전선,XE00006,딥러닝프레임워크,미지정,6405 / 목요일 / 09:00~11:50
298,전선,XE00007,확률과랜덤변수,이상윤,6405 / 화요일 / 13:30~14:45\n6405 / 목요일 / 13:30~1...
299,전선,XE00013,Python프로그래밍,홍성준,B105 / 월요일 / 15:00~16:15\nB105 / 수요일 / 15:00~1...
300,전선,XE00014,인공지능캡스톤디자인,이상윤,6405 / 금요일 / 12:00~14:50
301,전선,XE00015,컴퓨터비전,미지정,6405 / 화요일 / 15:00~16:15\n6405 / 목요일 / 15:00~1...

4. 일주일 두번 수업 나누기

In [8]:
df['roomNtime'] = df['roomNtime'].str.replace(" ", "", ) #공백문자 제거. 세 번째 매개변수 비워두면 모든 행의 공백 제거

In [9]:
# 일주일 두 번 수업의 특징 : '/n' 존재 -> 이거 기준으로 자르기. 순서 지키기

df['roomNtime2'] = df.roomNtime.str.split('\n').str[1] # '\n' 기준으로 자른것의 두 번째 값
df['roomNtime'] = df.roomNtime.str.split('\n').str[0]  #'\n' 기준으로 자른것의 첫 번째 값
df
# '/n'없는 수업은 room_time2에 nan

,kind,code,classname,prof,roomNtime,roomNtime2
0,교필,AC00013,말과글,오현화,1504/수/09:00~10:50,NaN
1,교필,AC00013,말과글,오현화,1504/수/11:00~12:50,NaN
2,교필,AC00013,말과글,곽승숙,1505/수/09:00~10:50,NaN
3,교필,AC00013,말과글,곽승숙,1505/수/11:00~12:50,NaN
4,교필,AC00013,말과글,오현화,1504/목/09:00~10:50,NaN
...,...,...,...,...,...,...
297,전선,XE00006,딥러닝프레임워크,미지정,6405/목요일/09:00~11:50,NaN
298,전선,XE00007,확률과랜덤변수,이상윤,6405/화요일/13:30~14:45,6405/목요일/13:30~14:45
299,전선,XE00013,Python프로그래밍,홍성준,B105/월요일/15:00~16:15,B105/수요일/15:00~16:15
300,전선,XE00014,인공지능캡스톤디자인,이상윤,6405/금요일/12:00~14:50,NaN
301,전선,XE00015,컴퓨터비전,미지정,6405/화요일/15:00~16:15,6405/목요일/15:00~16:15

5. 강의실, 요일, 시간 나누기

5-1. roomNtime과 roomNtime2의 강의실,강의시간이 같은지 확인

In [10]:
# 비교할 때 roomntime2가 nan인 데이터 제외시키기
deleted_nan = df.dropna(axis=0, how='any', subset=['roomNtime2'], inplace=False).copy()

In [11]:
deleted_nan

,kind,code,classname,prof,roomNtime,roomNtime2
82,교선,AE00012,아시아사회와 문화,박은홍,7206/화/16:30~17:45,7206/목/16:30~17:45
84,교선,AD00003,기초일본어,요코야\n마나호\n코,7206/월/13:30~14:45,7206/수/13:30~14:45
85,교선,AD00004,실용일본어,요코야\n마나호\n코,7206/화/13:30~14:45,7206/목/13:30~14:45
86,교선,AD00011,교양중국어초급,장엽,7206/월/15:00~16:15,7206/수/15:00~16:15
104,전탐,VS00013,사회복지학개론,조남경,7309/화요일/15:00~16:15,7309/목요일/15:00~16:15
...,...,...,...,...,...,...
289,전선,XC00021,논리회로설계,정인철,3302/월요일/13:30~14:45,3302/수요일/13:30~14:45
294,전선,XC00037,디지털통신,정인철,6404/월요일/15:00~16:15,6404/수요일/15:00~16:15
298,전선,XE00007,확률과랜덤변수,이상윤,6405/화요일/13:30~14:45,6405/목요일/13:30~14:45
299,전선,XE00013,Python프로그래밍,홍성준,B105/월요일/15:00~16:15,B105/수요일/15:00~16:15
301,전선,XE00015,컴퓨터비전,미지정,6405/화요일/15:00~16:15,6405/목요일/15:00~16:15

In [12]:
deleted_nan['test_room'] = (deleted_nan.roomNtime.str.split('/').str[0] != deleted_nan.roomNtime2.str.split('/').str[0])
deleted_nan['test_time'] = (deleted_nan.roomNtime.str.split('/').str[2] != deleted_nan.roomNtime2.str.split('/').str[2])

In [13]:
deleted_nan

,kind,code,classname,prof,roomNtime,roomNtime2,test_room,test_time
82,교선,AE00012,아시아사회와 문화,박은홍,7206/화/16:30~17:45,7206/목/16:30~17:45,False,False
84,교선,AD00003,기초일본어,요코야\n마나호\n코,7206/월/13:30~14:45,7206/수/13:30~14:45,False,False
85,교선,AD00004,실용일본어,요코야\n마나호\n코,7206/화/13:30~14:45,7206/목/13:30~14:45,False,False
86,교선,AD00011,교양중국어초급,장엽,7206/월/15:00~16:15,7206/수/15:00~16:15,False,False
104,전탐,VS00013,사회복지학개론,조남경,7309/화요일/15:00~16:15,7309/목요일/15:00~16:15,False,False
...,...,...,...,...,...,...,...,...
289,전선,XC00021,논리회로설계,정인철,3302/월요일/13:30~14:45,3302/수요일/13:30~14:45,False,False
294,전선,XC00037,디지털통신,정인철,6404/월요일/15:00~16:15,6404/수요일/15:00~16:15,False,False
298,전선,XE00007,확률과랜덤변수,이상윤,6405/화요일/13:30~14:45,6405/목요일/13:30~14:45,False,False
299,전선,XE00013,Python프로그래밍,홍성준,B105/월요일/15:00~16:15,B105/수요일/15:00~16:15,False,False
301,전선,XE00015,컴퓨터비전,미지정,6405/화요일/15:00~16:15,6405/목요일/15:00~16:15,False,False

6. 예외 처리

7. 관 변수 추가

8. 함수 작동 편하게 정렬