In [2]:
import pandas as pd

1. csv 불러오기

2. 합치기

In [13]:
df_list =[]

In [14]:
for url in ['csv2.csv', 'csv3.csv', 'csv4.csv']:
    csv = pd.read_csv(url)
    df_list.append(csv)

In [16]:
df = pd.concat(df_list)

In [17]:
df

,이수\n구분,과목코드,교과목명,교수명,강의실/시간
0,교필,AC00013,말과글,오현화,1504 / 수 / 09:00~10:50
1,교필,AC00013,말과글,오현화,1504 / 수 / 11:00~12:50
2,교필,AC00013,말과글,곽승숙,1505 / 수 / 09:00~10:50
3,교필,AC00013,말과글,곽승숙,1505 / 수 / 11:00~12:50
4,교필,AC00013,말과글,오현화,1504 / 목 / 09:00~10:50
...,...,...,...,...,...
193,전선,XE00006,딥러닝프레임워크,미지정,6405 / 목요일 / 09:00~11:50
194,전선,XE00007,확률과랜덤변수,이상윤,6405 / 화요일 / 13:30~14:45\n6405 / 목요일 / 13:30~1...
195,전선,XE00013,Python프로그래밍,홍성준,B105 / 월요일 / 15:00~16:15\nB105 / 수요일 / 15:00~1...
196,전선,XE00014,인공지능캡스톤디자인,이상윤,6405 / 금요일 / 12:00~14:50
197,전선,XE00015,컴퓨터비전,미지정,6405 / 화요일 / 15:00~16:15\n6405 / 목요일 / 15:00~1...

In [18]:
df.reset_index(drop=True, inplace=True)
df

,이수\n구분,과목코드,교과목명,교수명,강의실/시간
0,교필,AC00013,말과글,오현화,1504 / 수 / 09:00~10:50
1,교필,AC00013,말과글,오현화,1504 / 수 / 11:00~12:50
2,교필,AC00013,말과글,곽승숙,1505 / 수 / 09:00~10:50
3,교필,AC00013,말과글,곽승숙,1505 / 수 / 11:00~12:50
4,교필,AC00013,말과글,오현화,1504 / 목 / 09:00~10:50
...,...,...,...,...,...
297,전선,XE00006,딥러닝프레임워크,미지정,6405 / 목요일 / 09:00~11:50
298,전선,XE00007,확률과랜덤변수,이상윤,6405 / 화요일 / 13:30~14:45\n6405 / 목요일 / 13:30~1...
299,전선,XE00013,Python프로그래밍,홍성준,B105 / 월요일 / 15:00~16:15\nB105 / 수요일 / 15:00~1...
300,전선,XE00014,인공지능캡스톤디자인,이상윤,6405 / 금요일 / 12:00~14:50
301,전선,XE00015,컴퓨터비전,미지정,6405 / 화요일 / 15:00~16:15\n6405 / 목요일 / 15:00~1...

3. 열 변수 이름 변경
chapel.columns = ['kind','code','class_name','prof','room_time']

In [21]:
df.columns = ['kind','code','classname','prof','roomNtime']
df

,kind,code,classname,prof,roomNtime
0,교필,AC00013,말과글,오현화,1504 / 수 / 09:00~10:50
1,교필,AC00013,말과글,오현화,1504 / 수 / 11:00~12:50
2,교필,AC00013,말과글,곽승숙,1505 / 수 / 09:00~10:50
3,교필,AC00013,말과글,곽승숙,1505 / 수 / 11:00~12:50
4,교필,AC00013,말과글,오현화,1504 / 목 / 09:00~10:50
...,...,...,...,...,...
297,전선,XE00006,딥러닝프레임워크,미지정,6405 / 목요일 / 09:00~11:50
298,전선,XE00007,확률과랜덤변수,이상윤,6405 / 화요일 / 13:30~14:45\n6405 / 목요일 / 13:30~1...
299,전선,XE00013,Python프로그래밍,홍성준,B105 / 월요일 / 15:00~16:15\nB105 / 수요일 / 15:00~1...
300,전선,XE00014,인공지능캡스톤디자인,이상윤,6405 / 금요일 / 12:00~14:50
301,전선,XE00015,컴퓨터비전,미지정,6405 / 화요일 / 15:00~16:15\n6405 / 목요일 / 15:00~1...

4. 일주일 두번 수업 나누기

5. 강의실, 요일, 시간 나누기

6. 예외 처리

7. 관 변수 추가

8. 함수 작동 편하게 정렬