# 교양필수 제외 나머지 수업 테이블 생성

1. 연장 준비

In [1]:
import pdfplumber as pp
import pandas as pd

In [2]:
o_pdf = pp.open('23-2.pdf')
o_pdf

2. 필요한 테이블 추출

In [3]:
o_df1 = [] #(pdf상)p6 ~ p7
o_df2 = [] #(pdf상)p8 ~ 끝까지

In [4]:
for pn in range(5, 7): #(pdf상)p6 ~ p7
    table_len = len(o_pdf.pages[pn].extract_tables())
    
    for tn in range(table_len):
        pre = o_pdf.pages[pn].extract_tables() 
        o_df1.append(pd.DataFrame(pre[tn])) #테이블 하나씩 데이터프레임으로 변환후 data에 담기
        
for pn in range(7, len(o_pdf.pages)): #(pdf상)p8 ~ 끝까지
    table_len = len(o_pdf.pages[pn].extract_tables())
    
    for tn in range(table_len):
        pre = o_pdf.pages[pn].extract_tables() 
        o_df2.append(pd.DataFrame(pre[tn])) #테이블 하나씩 데이터프레임으로 변환후 data에 담기

In [5]:
type(o_df1[0])

pandas.core.frame.DataFrame

In [6]:
print(len(o_df1), len(o_df2))

5 20

3. 필요한 열/행만 남기기

In [7]:
# o_df1 정리
o_df1[0]

,0,1,2,3,4,5,6,7,8,9,10
0,순번,이수\n구분,개설\n학년,과목코드,분반,교과목명,학점,교수명,학부\n제한,강의실/시간,확인사항
1,1,전탐,1,VH00002,01,일본의 이해,3,권혁태,N,7308 / 목 / 09:00~11:50,
2,2,전탐,1,VH00004,01,영미문학기행,3,조병은,N,7208 / 월 / 12:00~13:15\n7208 / 수 / 12:00~13:15,
3,3,전탐,1,VH00005,01,일본의 생활문화,3,장화경,N,7309 / 월 / 13:30~14:45\n7309 / 수 / 13:30~14:45,
4,4,전탐,1,VH00006,01,네이티브 일본어회화,3,요코야마 \n나호코,N,7309 / 화 / 13:30~14:45\n7309 / 목 / 13:30~14:45,
5,5,전탐,1,VH00008,01,English Pronunciation,3,김혜인,N,7308 / 화 / 13:30~14:45\n7308 / 목 / 13:30~14:45,
6,6,전탐,1,VH00009,01,키워드로 본 오늘의 중국,3,장영석,N,M301 / 화 / 13:30~14:45\nM301 / 목 / 13:30~14:45,
7,7,전탐,1,VH00010,01,쉽게 배우는 중국어,3,장엽,N,7309 / 월 / 16:30~17:45\n7309 / 수 / 16:30~17:45,
8,8,전탐,1,VH00012,01,수도원 기행,3,이주엽,N,M205 / 화 / 13:30~14:45\nM205 / 목 / 13:30~14:45,
9,9,전탐,1,VH00031,01,종교심리학,3,이주엽,N,7208 / 화 / 16:30~17:45\n7208 / 목 / 16:30~17:45,

In [8]:
o_df1[0] = o_df1[0].loc[:, [1,3,4,5,7,9]] # 첫 번째 테이블 제외한 나머지 인덱스0은 삭제

for tn in range(len(o_df1)-1):
    t = o_df1[tn+1].loc[:, [1,3,4,5,7,9]]
    o_df1[tn+1] = t.drop(t.index[0])
    
o_df1

[        1        3   4                      5           7  \
 0  이수\n구분     과목코드  분반                   교과목명         교수명
 1      전탐  VH00002  01                 일본의 이해         권혁태
 2      전탐  VH00004  01                 영미문학기행         조병은
 3      전탐  VH00005  01               일본의 생활문화         장화경
 4      전탐  VH00006  01             네이티브 일본어회화  요코야마 \n나호코
 5      전탐  VH00008  01  English Pronunciation         김혜인
 6      전탐  VH00009  01          키워드로 본 오늘의 중국         장영석
 7      전탐  VH00010  01             쉽게 배우는 중국어          장엽
 8      전탐  VH00012  01                 수도원 기행         이주엽
 9      전탐  VH00031  01                  종교심리학         이주엽

                                                 9
 0                                          강의실/시간
 1                          7308 / 목 / 09:00~11:50
 2  7208 / 월 / 12:00~13:15\n7208 / 수 / 12:00~13:15
 3  7309 / 월 / 13:30~14:45\n7309 / 수 / 13:30~14:45
 4  7309 / 화 / 13:30~14:45\n7309 / 목 / 13:30~14:45
 5  7308 / 화 / 13:30~14:45\n7308 / 목 / 13:30~14:45
 6  M301 / 화 / 13:30~14:45\nM301 / 목 / 13:30~14:45
 7  7309 / 월 / 16:30~17:45\n7309 / 수 / 16:30~17:45
 8  M205 / 화 / 13:30~14:45\nM205 / 목 / 13:30~14:45
 9  7208 / 화 / 16:30~17:45\n7208 / 목 / 16:30~17:45  ,
     1        3   4                     5    7  \
 1  전탐  VS00001  01           영상으로보는정치의세계  이지윤
 2  전탐  VS00002  01  헷갈리는 사회문제 깊이 \n들여다보기  박경태
 3  전탐  VS00007  01               사회학의 초대  조효제
 4  전탐  VS00009  01               정치학의 초대  윤석준
 5  전탐  VS00010  01               경제학의 초대  유철규
 6  전탐  VS00011  01                생활과 금융  최우석
 7  전탐  VS00012  01            경제환경과 기업경영   이웅
 8  전탐  VS00013  01               사회복지학개론  조남경

                                                 9
 1                          7207 / 화 / 09:00~11:50
 2                          7207 / 목 / 09:00~11:50
 3                          7208 / 월 / 09:00~11:50
 4  3502 / 화 / 13:30~14:45\n3502 / 목 / 13:30~14:45
 5  7206 / 월 / 13:30~14:45\n7206 / 수 / 13:30~14:45
 6  7309 / 화 / 15:00~16:15\n7309 / 목 / 15:00~16:15
 7                          7308 / 화 / 15:00~17:50
 8  7208 / 화 / 15:00~16:15\n7208 / 목 / 15:00~16:15  ,
     1        3   4                                 5    7  \
 1  전탐  VS00028  01  우리사는경제 어디서 왔을까 2 \n:'한국경제의역사적전개'  이상철
 2  전탐  VS00029  01                           사회복지와인권  양경은

                                                 9
 1                          7202 / 수 / 09:00~11:50
 2  7207 / 화 / 12:00~13:15\n7207 / 목 / 12:00~13:15  ,
     1        3   4                  5    7  \
 1  전탐  VD00004  01          디지털드로잉워크숍  이영아
 2  전탐  VM00002  01         커뮤니케이션의 이해  김서중
 3  전탐  VM00003  01         민주주의와 저널리즘  김서중
 4  전탐  VM00004  01  뉴미디어를 위한 아트 앤 테크닉  김대우

                                                 9
 1                          M401 / 목 / 09:00~11:50
 2                          7308 / 수 / 09:00~11:50
 3                          7208 / 목 / 09:00~11:50
 4  6403 / 월 / 13:30~14:45\n6403 / 수 / 13:30~14:45  ,
     1        3   4             5    7  \
 1  전탐  VI00002  01  Python 프로그래밍  박경호
 2  전탐  VI00002  02  Python 프로그래밍  이하규
 3  전탐  VI00002  03  Python 프로그래밍  홍성준
 4  전탐  VI00003  01    컴퓨터조립 및 활용  정인철
 5  전탐  VI00005  01       웹 개발 입문  이해신
 6  전탐  VI00005  02       웹 개발 입문  김선형
 7  전탐  VI00019  01      데이터기초수학1  이상윤
 8  전탐  VI00022  01          공업수학  윤명호
 9  전탐  XA00005  01      C++프로그래밍  김학수

                                                 9
 1                          6206 / 수 / 09:00~11:50
 2  6406 / 월 / 15:00~16:15\n6406 / 수 / 15:00~16:15
 3  6405 / 화 / 12:00~13:15\n6405 / 목 / 12:00~13:15
 4                          6406 / 목 / 09:00~11:50
 5                          6206 / 금 / 09:00~11:50
 6                          6206 / 금 / 12:00~14:50
 7  6405 / 월 / 15:00~16:15\n6405 / 수 / 15:00~16:15
 8                          M402 / 월 / 12:00~14:50
 9  6201 / 월 / 16:30~17:45\n6201 / 수 / 16:30~17:45  ]

4. 정리된 테이블 연결하기

In [9]:
df1 = o_df1.copy()

In [10]:
df1 = pd.concat(df1)

5. 정리 중인 테이블 헤더 지정

In [11]:
df1_column = df1.iloc[0]
df1 = df1[1:]
df1.columns = df1_column

In [12]:
t1 = df1.copy()
t1

,이수\n구분,과목코드,분반,교과목명,교수명,강의실/시간
1,전탐,VH00002,01,일본의 이해,권혁태,7308 / 목 / 09:00~11:50
2,전탐,VH00004,01,영미문학기행,조병은,7208 / 월 / 12:00~13:15\n7208 / 수 / 12:00~13:15
3,전탐,VH00005,01,일본의 생활문화,장화경,7309 / 월 / 13:30~14:45\n7309 / 수 / 13:30~14:45
4,전탐,VH00006,01,네이티브 일본어회화,요코야마 \n나호코,7309 / 화 / 13:30~14:45\n7309 / 목 / 13:30~14:45
5,전탐,VH00008,01,English Pronunciation,김혜인,7308 / 화 / 13:30~14:45\n7308 / 목 / 13:30~14:45
6,전탐,VH00009,01,키워드로 본 오늘의 중국,장영석,M301 / 화 / 13:30~14:45\nM301 / 목 / 13:30~14:45
7,전탐,VH00010,01,쉽게 배우는 중국어,장엽,7309 / 월 / 16:30~17:45\n7309 / 수 / 16:30~17:45
8,전탐,VH00012,01,수도원 기행,이주엽,M205 / 화 / 13:30~14:45\nM205 / 목 / 13:30~14:45
9,전탐,VH00031,01,종교심리학,이주엽,7208 / 화 / 16:30~17:45\n7208 / 목 / 16:30~17:45
1,전탐,VS00001,01,영상으로보는정치의세계,이지윤,7207 / 화 / 09:00~11:50
2,전탐,VS00002,01,헷갈리는 사회문제 깊이 \n들여다보기,박경태,7207 / 목 / 09:00~11:50
3,전탐,VS00007,01,사회학의 초대,조효제,7208 / 월 / 09:00~11:50
4,전탐,VS00009,01,정치학의 초대,윤석준,3502 / 화 / 13:30~14:45\n3502 / 목 / 13:30~14:45
5,전탐,VS00010,01,경제학의 초대,유철규,7206 / 월 / 13:30~14:45\n7206 / 수 / 13:30~14:45
6,전탐,VS00011,01,생활과 금융,최우석,7309 / 화 / 15:00~16:15\n7309 / 목 / 15:00~16:15
7,전탐,VS00012,01,경제환경과 기업경영,이웅,7308 / 화 / 15:00~17:50
8,전탐,VS00013,01,사회복지학개론,조남경,7208 / 화 / 15:00~16:15\n7208 / 목 / 15:00~16:15
1,전탐,VS00028,01,우리사는경제 어디서 왔을까 2 \n:'한국경제의역사적전개',이상철,7202 / 수 / 09:00~11:50
2,전탐,VS00029,01,사회복지와인권,양경은,7207 / 화 / 12:00~13:15\n7207 / 목 / 12:00~13:15
1,전탐,VD00004,01,디지털드로잉워크숍,이영아,M401 / 목 / 09:00~11:50
2,전탐,VM00002,01,커뮤니케이션의 이해,김서중,7308 / 수 / 09:00~11:50
3,전탐,VM00003,01,민주주의와 저널리즘,김서중,7208 / 목 / 09:00~11:50
4,전탐,VM00004,01,뉴미디어를 위한 아트 앤 테크닉,김대우,6403 / 월 / 13:30~14:45\n6403 / 수 / 13:30~14:45
1,전탐,VI00002,01,Python 프로그래밍,박경호,6206 / 수 / 09:00~11:50
2,전탐,VI00002,02,Python 프로그래밍,이하규,6406 / 월 / 15:00~16:15\n6406 / 수 / 15:00~16:15
3,전탐,VI00002,03,Python 프로그래밍,홍성준,6405 / 화 / 12:00~13:15\n6405 / 목 / 12:00~13:15
4,전탐,VI00003,01,컴퓨터조립 및 활용,정인철,6406 / 목 / 09:00~11:50
5,전탐,VI00005,01,웹 개발 입문,이해신,6206 / 금 / 09:00~11:50
6,전탐,VI00005,02,웹 개발 입문,김선형,6206 / 금 / 12:00~14:50
7,전탐,VI00019,01,데이터기초수학1,이상윤,6405 / 월 / 15:00~16:15\n6405 / 수 / 15:00~16:15
8,전탐,VI00022,01,공업수학,윤명호,M402 / 월 / 12:00~14:50
9,전탐,XA00005,01,C++프로그래밍,김학수,6201 / 월 / 16:30~17:45\n6201 / 수 / 16:30~17:45

+) o_df2도 o_df1과 똑같이 정리

In [13]:
# o_df2 정리
o_df2[0]

,0,1,2,3,4,5,6,7,8,9
0,순번,이수\n구분,개설\n학년,과목코드,분반,교과목명,학점,교수명,강의실/시간,확인사항
1,1,전선,"2,3,4",LA00035,01,종교와사회복지,3,노철래\n한지수,7304 / 목 / 09:00~11:50,기독교문화 + 사회복지학 융복합교과목
2,2,전선,"2,3,4",LA00036,01,그리스도교신학개론II,3,차보람,7301 / 월 / 12:00~14:50,
3,3,전선,"2,3,4",LA00037,01,과학과기독교의대화,3,김기석,7302 / 화 / 09:00~11:50,
4,4,전선,"2,3,4",MD00031,01,신학과정치학의만남,3,박은홍\n박태식,7204 / 목 / 12:00~14:50,정치학 + 기독교문화 융복합교과목
5,5,전선,"2,3,4",AD00105,01,온라인게임과종교적상징,3,김한나,7208 / 수 / 15:00~17:50,기독교문화전공자가 수강시 전공으로 인정

In [ ]:
o_df2[0] = o_df2[0].loc[:, [1,3,4,5,7,8]] # 첫 번째 테이블 제외한 나머지 인덱스0은 삭제

for tn in range(len(o_df2)-1):
    t = o_df2[tn+1].loc[:, [1,3,4,5,7,8]]
    o_df2[tn+1] = t.drop(t.index[0])
    
o_df2

In [15]:
df2 = o_df2.copy()

In [16]:
df2 = pd.concat(df2)

In [17]:
df2_column = df2.iloc[0]
df2 = df2[1:]
df2.columns = df2_column

In [18]:
t2 = df2.copy()
t2

,이수\n구분,과목코드,분반,교과목명,교수명,강의실/시간
1,전선,LA00035,01,종교와사회복지,노철래\n한지수,7304 / 목 / 09:00~11:50
2,전선,LA00036,01,그리스도교신학개론II,차보람,7301 / 월 / 12:00~14:50
3,전선,LA00037,01,과학과기독교의대화,김기석,7302 / 화 / 09:00~11:50
4,전선,MD00031,01,신학과정치학의만남,박은홍\n박태식,7204 / 목 / 12:00~14:50
5,전선,AD00105,01,온라인게임과종교적상징,김한나,7208 / 수 / 15:00~17:50
...,...,...,...,...,...,...
3,전선,XE00008,01,쉽게배우는스타트업창업,조준영,6110 / 목 / 16:00~17:50
4,전선,XE00009,01,심층신경망,홍성준,6405 / 목 / 09:00~11:50
5,전선,XE00010,01,오픈소스SW개발,이상윤,6405 / 월 / 16:30~17:45\n6405 / 수 / 16:30~17:45
6,전선,XE00011,01,인공지능문제해결,이상윤,6405 / 금 / 12:00~14:50
7,전선,XE00012,01,자료구조,홍성준,6405 / 화 / 09:00~11:50

6. 형식이 같아진 t1과 t2합치기 & 인덱스 초기화

In [21]:
t = pd.concat([t1, t2])

t.reset_index(drop=True, inplace=True)

t

,이수\n구분,과목코드,분반,교과목명,교수명,강의실/시간
0,전탐,VH00002,01,일본의 이해,권혁태,7308 / 목 / 09:00~11:50
1,전탐,VH00004,01,영미문학기행,조병은,7208 / 월 / 12:00~13:15\n7208 / 수 / 12:00~13:15
2,전탐,VH00005,01,일본의 생활문화,장화경,7309 / 월 / 13:30~14:45\n7309 / 수 / 13:30~14:45
3,전탐,VH00006,01,네이티브 일본어회화,요코야마 \n나호코,7309 / 화 / 13:30~14:45\n7309 / 목 / 13:30~14:45
4,전탐,VH00008,01,English Pronunciation,김혜인,7308 / 화 / 13:30~14:45\n7308 / 목 / 13:30~14:45
...,...,...,...,...,...,...
242,전선,XE00008,01,쉽게배우는스타트업창업,조준영,6110 / 목 / 16:00~17:50
243,전선,XE00009,01,심층신경망,홍성준,6405 / 목 / 09:00~11:50
244,전선,XE00010,01,오픈소스SW개발,이상윤,6405 / 월 / 16:30~17:45\n6405 / 수 / 16:30~17:45
245,전선,XE00011,01,인공지능문제해결,이상윤,6405 / 금 / 12:00~14:50
246,전선,XE00012,01,자료구조,홍성준,6405 / 화 / 09:00~11:50

7. 전탐,전선 공동개설 수업의 중복 제거

In [27]:
m = t.copy()

dup_m = m.duplicated(subset=['과목코드','분반','교과목명','교수명','강의실/시간'], keep='first')
dup_m

0      False
1      False
2      False
3      False
4      False
       ...
242    False
243    False
244    False
245    False
246    False
Length: 247, dtype: bool

In [28]:
dup_m = pd.concat([m, dup_m], axis=1)
dup_m.rename(columns = {0 : 'Dup'}, inplace = True)
dup_m

,이수\n구분,과목코드,분반,교과목명,교수명,강의실/시간,Dup
0,전탐,VH00002,01,일본의 이해,권혁태,7308 / 목 / 09:00~11:50,False
1,전탐,VH00004,01,영미문학기행,조병은,7208 / 월 / 12:00~13:15\n7208 / 수 / 12:00~13:15,False
2,전탐,VH00005,01,일본의 생활문화,장화경,7309 / 월 / 13:30~14:45\n7309 / 수 / 13:30~14:45,False
3,전탐,VH00006,01,네이티브 일본어회화,요코야마 \n나호코,7309 / 화 / 13:30~14:45\n7309 / 목 / 13:30~14:45,False
4,전탐,VH00008,01,English Pronunciation,김혜인,7308 / 화 / 13:30~14:45\n7308 / 목 / 13:30~14:45,False
...,...,...,...,...,...,...,...
242,전선,XE00008,01,쉽게배우는스타트업창업,조준영,6110 / 목 / 16:00~17:50,False
243,전선,XE00009,01,심층신경망,홍성준,6405 / 목 / 09:00~11:50,False
244,전선,XE00010,01,오픈소스SW개발,이상윤,6405 / 월 / 16:30~17:45\n6405 / 수 / 16:30~17:45,False
245,전선,XE00011,01,인공지능문제해결,이상윤,6405 / 금 / 12:00~14:50,False
246,전선,XE00012,01,자료구조,홍성준,6405 / 화 / 09:00~11:50,False

In [ ]:
major