In [1]:
import pdfplumber as pp
import pandas as pd

In [2]:
#pdf 가져오기
pdf = pp.open("pdf0805.pdf") 
pdf

# 모든 테이블을 데이터프레임 형태로 저장

In [3]:
tlist = [] #미리 공간할당하고 싶으나 좋은방법 찾지 못함

In [4]:
for i in range(len(pdf.pages)-1): #마지막장 제외
    page_table = pdf.pages[i].extract_tables()
    for j in range(len(page_table)):
        tlist.append(pd.DataFrame(page_table[j]))

In [5]:
len(tlist)

50

In [6]:
tlist[29:31]

[   0       1       2        3   4            5   6    7       8   \
 0  순번  이수\n구분  개설\n학년     과목코드  분반         교과목명  학점  교수명  학부\n제한
 1   1      전탐       1  BF00003  01    빅데이터이론과실제   3  김수림       N
 2   2      전탐       1  BF00004  01    빅데이터활용및실습   3  김수림       N
 3   3      전탐       1  BF00002  01  Python프로그래밍   3  홍성준       N
 4   4      전탐       1  BF00005  01       인공지능입문   3  곽승우       N

                                            9     10
 0                                      강의실/시간  확인사항
 1  7308/화요일/13:30~14:45\n7308/목요일/13:30~14:45
 2  7308/화요일/16:30~17:45\n7308/목요일/16:30~17:45
 3  6405/월요일/16:30~17:45\n6405/수요일/16:30~17:45
 4  M401/화요일/13:30~14:45\nM401/목요일/13:30~14:45        ,
       0                                                1        2
 0    대상                                             졸업요건  기타 졸업요건
 1   주전공                                  * 전공 42학점 이상 이수
 2  복수전공                                  * 전공 30학점 이상 이수     None
 3   편입생  * 전공 선택 타입에 따른 졸업요건으로 이수\n * 전적 대학 학점 최대 6학점 인정     None
 4   부전공                                  * 전공 21학점 이상 이수         ]

In [7]:
del tlist[6] #사회봉사 삭제 
del tlist[29] #졸업요건표 삭제

In [8]:
len(tlist)

48

In [9]:
tlist[29:31]

[    0       1       2        3   4                       5   6           7  \
 0  순번  이수\n구분  개설\n학년     과목코드  분반                    교과목명  학점         교수명
 1   1      전선     2-4  LA00024  01                포스트휴먼의종교   3         신익상
 2   2      전선     2-4  LA00035  01                 종교와사회복지   3  노철래, \n한지수
 3   3      전선     2-4  LA00042  01                   영성심리학   3         이주엽
 4   4      전선     2-4  LA00043  01  그리스도교의역사와사상:근대와현대\n의신학   3         차보람
 5   5      교선     2-4  AK00098  01              중동분쟁과이슬람인권   3  조정현, \n이희수

                                             8  \
 0                                      강의실/시간
 1                        7301/목요일/09:00~11:50
 2                        7205/수요일/09:00~11:50
 3  7305/화요일/15:00~16:15\n7305/목요일/15:00~16:15
 4  7301/월요일/13:30~14:45\n7301/수요일/13:30~14:45
 5                          3301/수/15:00~17:50

                                     9
 0                                확인사항
 1
 2                  융복합과목(기독교문화,사회복지학)
 3
 4
 5  2024-2학기 기독교문화전공자가 수강 시 \n전공으로 인정함  ,
      0       1       2        3   4               5   6    7  \
 0   순번  이수\n구분  개설\n학년     과목코드  분반            교과목명  학점  교수명
 1    1      전선     2-4  LB00001  01      영화로읽는셰익스피어   3  진영종
 2    2      전필       4  LB00003  01          영어독서지도   2  김성찬
 3    3      전필     2-4  LB00004  01        영어문장이해II   3  김성찬
 4    4      전선     2-4  LB00005  01      영미문학:자연과인간   3  조병은
 5    5      전필     2-4  LB00006  01         미국문화와사회   3  진영종
 6    6      전선     2-4  LB00007  01          영어다독II   3  김혜인
 7    7      전선     2-4  LB00007  02          영어다독II   3  김혜인
 8    8      전선     2-4  LB00009  01        영어로읽는한국2   3  권용현
 9    9      전선     2-4  LB00010  01     영어교수법및학습법II   3  김성찬
 10  10      전선     2-4  LB00011  01         서양문학의흐름   3  박미정
 11  11      전선     2-4  LB00015  01         영미문학과여성   3  진영종
 12  12      전선     2-4  LB00026  01           영어발달사   3  김성찬
 13  13      전필     2-4  LB00027  01            영작문2   3  김혜인
 14  14      전선     2-4  LB00029  01  영어다의어2:알맹이와껍데기   3  권용현

                                              8     9
 0                                       강의실/시간  확인사항
 1   7205/월요일/12:00~13:15\n7205/수요일/12:00~13:15
 2                         7301/목요일/12:00~13:50
 3                         3402/화요일/09:00~11:50
 4                         7309/수요일/09:00~11:50
 5   7202/월요일/16:30~17:45\n7202/수요일/16:30~17:45
 6                         7301/금요일/12:00~14:50
 7                         7301/금요일/15:00~17:50
 8                         3502/화요일/09:00~11:50
 9   7205/화요일/16:30~17:45\n7205/목요일/16:30~17:45
 10                        7206/월요일/12:00~14:50
 11  7202/월요일/15:00~16:15\n7202/수요일/15:00~16:15
 12  7205/화요일/15:00~16:15\n7205/목요일/15:00~16:15
 13  7306/화요일/12:00~13:15\n7306/목요일/12:00~13:15
 14                        7208/수요일/09:00~11:50        ]

In [10]:
print(tlist[27:32]) #확인

[   0       1       2        3   4            5   6    7       8   \
0  순번  이수\n구분  개설\n학년     과목코드  분반         교과목명  학점  교수명  학부\n제한
1   1      전탐       1  BI00002  01        웹개발입문   3  김덕봉       N
2   2      전탐       1  BI00002  02        웹개발입문   3  이해신       N
3   3      전탐       1  BI00002  03        웹개발입문   3  이해신       N
4   4      전탐       1  BI00002  04        웹개발입문   3  김선형       N
5   5      전탐       1  BI00003  01         공업수학   3  윤명호       N
6   6      전탐       1  BI00004  01  Python프로그래밍   3  김덕봉       N
7   7      전탐       1  BI00004  02  Python프로그래밍   3  홍은지       N
8   8      전탐       1  BI00004  03  Python프로그래밍   3  홍은지       N
9   9      전탐       1  BI00004  04  Python프로그래밍   3  박경호       N

                                               9                   10
0                                          강의실/시간                확인사항
1  6201 / 월 / 15:00~16:15\n6201 / 수 / 15:00~16:15
2                          6202 / 목 / 09:00~11:50
3                          6202 / 금 / 09:00~11:50  전탐／전선(소프)　공동개설　교과목
4  6202 / 화 / 12:00~13:15\n6202 / 목 / 12:00~13:15
5                          3501 / 월 / 12:00~14:50
6  6201 / 월 / 12:00~13:15\n6201 / 수 / 12:00~13:15  전탐／전선(컴공)　공동개설　교과목
7                          6206 / 월 / 09:00~11:50  전탐／전선(소프)　공동개설　교과목
8                          6206 / 수 / 09:00~11:50
9                          6206 / 금 / 12:00~14:50                      ,    0       1       2        3   4            5   6    7       8   \
0  순번  이수\n구분  개설\n학년     과목코드  분반         교과목명  학점  교수명  학부\n제한
1   1      전탐       1  BF00003  01    빅데이터이론과실제   3  김수림       N
2   2      전탐       1  BF00004  01    빅데이터활용및실습   3  김수림       N
3   3      전탐       1  BF00002  01  Python프로그래밍   3  홍성준       N
4   4      전탐       1  BF00005  01       인공지능입문   3  곽승우       N

                                           9     10
0                                      강의실/시간  확인사항
1  7308/화요일/13:30~14:45\n7308/목요일/13:30~14:45
2  7308/화요일/16:30~17:45\n7308/목요일/16:30~17:45
3  6405/월요일/16:30~17:45\n6405/수요일/16:30~17:45
4  M401/화요일/13:30~14:45\nM401/목요일/13:30~14:45        ,     0       1       2        3   4                       5   6           7  \
0  순번  이수\n구분  개설\n학년     과목코드  분반                    교과목명  학점         교수명
1   1      전선     2-4  LA00024  01                포스트휴먼의종교   3         신익상
2   2      전선     2-4  LA00035  01                 종교와사회복지   3  노철래, \n한지수
3   3      전선     2-4  LA00042  01                   영성심리학   3         이주엽
4   4      전선     2-4  LA00043  01  그리스도교의역사와사상:근대와현대\n의신학   3         차보람
5   5      교선     2-4  AK00098  01              중동분쟁과이슬람인권   3  조정현, \n이희수

                                            8  \
0                                      강의실/시간
1                        7301/목요일/09:00~11:50
2                        7205/수요일/09:00~11:50
3  7305/화요일/15:00~16:15\n7305/목요일/15:00~16:15
4  7301/월요일/13:30~14:45\n7301/수요일/13:30~14:45
5                          3301/수/15:00~17:50

                                    9
0                                확인사항
1
2                  융복합과목(기독교문화,사회복지학)
3
4
5  2024-2학기 기독교문화전공자가 수강 시 \n전공으로 인정함  ,      0       1       2        3   4               5   6    7  \
0   순번  이수\n구분  개설\n학년     과목코드  분반            교과목명  학점  교수명
1    1      전선     2-4  LB00001  01      영화로읽는셰익스피어   3  진영종
2    2      전필       4  LB00003  01          영어독서지도   2  김성찬
3    3      전필     2-4  LB00004  01        영어문장이해II   3  김성찬
4    4      전선     2-4  LB00005  01      영미문학:자연과인간   3  조병은
5    5      전필     2-4  LB00006  01         미국문화와사회   3  진영종
6    6      전선     2-4  LB00007  01          영어다독II   3  김혜인
7    7      전선     2-4  LB00007  02          영어다독II   3  김혜인
8    8      전선     2-4  LB00009  01        영어로읽는한국2   3  권용현
9    9      전선     2-4  LB00010  01     영어교수법및학습법II   3  김성찬
10  10      전선     2-4  LB00011  01         서양문학의흐름   3  박미정
11  11      전선     2-4  LB00015  01         영미문학과여성   3  진영종
12  12      전선     2-4  LB00026  01           영어발달사   3  김성찬
13  13      전필     2-4  LB00027  01            영작문2   3  김혜인
14  14      전선     2-4  LB00029  01  영어다의어2:알맹이와껍데기   3  권용현

                                             8     9
0                                       강의실/시간  확인사항
1   7205/월요일/12:00~13:15\n7205/수요일/12:00~13:15
2                         7301/목요일/12:00~13:50
3                         3402/화요일/09:00~11:50
4                         7309/수요일/09:00~11:50
5   7202/월요일/16:30~17:45\n7202/수요일/16:30~17:45
6                         7301/금요일/12:00~14:50
7                         7301/금요일/15:00~17:50
8                         3502/화요일/09:00~11:50
9   7205/화요일/16:30~17:45\n7205/목요일/16:30~17:45
10                        7206/월요일/12:00~14:50
11  7202/월요일/15:00~16:15\n7202/수요일/15:00~16:15
12  7205/화요일/15:00~16:15\n7205/목요일/15:00~16:15
13  7306/화요일/12:00~13:15\n7306/목요일/12:00~13:15
14                        7208/수요일/09:00~11:50        ,      0       1       2        3   4            5   6           7  \
0   순번  이수\n구분  개설\n학년     과목코드  분반         교과목명  학점         교수명
1    1      전선     2-4  LC00001  01        세계와일본   3         양기호
2    2      전선     2-4  LC00002  01       스크린일본어   3  요코야마 \n나호코
3    3      전선     2-4  LC00003  01   일본근현대문학의이해   3         박은희
4    4      전선     2-4  LC00004  01       일본근현대사   3         김남은
5    5      전선     2-4  LC00006  01      일본어표현연습   3  요코야마 \n나호코
6    6      전선     2-4  LC00007  01      일본원서강독2   3         김남은
7    7      전선     2-4  LC00008  01        일본정치론   3         양기호
8    8      전선     2-4  LC00009  01        일본지방론   3         양기호
9    9      전필     2-4  LC00010  01       일본학세미나   3         양기호
10  10      전선     2-4  LC00026  01  한일문화콘텐츠통번역2   3         박미숙

                                             8     9
0                                       강의실/시간  확인사항
1                         7303/화요일/09:00~11:50
2   7302/화요일/12:00~13:15\n7302/목요일/12:00~13:15
3                         7302/화요일/15:00~17:50
4   7306/월요일/13:30~14:45\n7306/수요일/13:30~14:45
5   7303/월요일/15:00~16:15\n7303/수요일/15:00~16:15
6   7306/월요일/12:00~13:15\n7306/수요일/12:00~13:15
7   7303/화요일/13:30~14:45\n7303/목요일/13:30~14:45
8                         7303/목요일/09:00~11:50
9                         7304/금요일/12:00~14:50
10                        7303/목요일/15:00~17:50        ]

In [11]:
type(tlist[0])

pandas.core.frame.DataFrame

In [12]:
len(tlist) #테이블 개수

48

# 필요한  열만  남기기

In [13]:
# 첫행을 컬럼으로 지정
for index, df in enumerate(tlist):
    data = df.rename(columns=df.iloc[0]) #첫행을 컬럼(변수)로 지정
    data = data.iloc[1:] #첫행 제외 나머지 행을 데이터(값/value)로 지정
    tlist[index] = data

In [14]:
tlist[0]

,순번,이수\n구분,개설\n학년,과목코드,분반,교과목명,학점,교수명,학년\n제한,전공\n제한,강의실/시간,확인사항
1,1,교필,1,AC00007,01,인권과평화,2,강성현,Y,Y,7207/화/10:00~11:50,주제 : 전쟁과 평화
2,2,교필,1,AC00007,02,인권과평화,2,조경희,Y,Y,7308/화/10:00~11:50,주제 : 혐오와 교차성
3,3,교필,1,AC00007,03,인권과평화,2,오영숙,Y,Y,7208/화/10:00~11:50,주제 : 글로벌 스크린으로 \n보는 인권
4,4,교필,1,AC00007,04,인권과평화,2,박상희,Y,Y,7309/화/10:00~11:50,주제 : 세계시민의 비전과 \n도전

In [15]:
# 필요한 컬럼만 남기기
for index in range(len(tlist)):
    #print(index)
    tlist[index] = tlist[index].loc[:, ['이수\n구분','과목코드','교과목명','교수명','강의실/시간','확인사항']]

In [16]:
tlist[0]

  이수\n구분     과목코드   교과목명  교수명              강의실/시간                    확인사항
1     교필  AC00007  인권과평화  강성현  7207/화/10:00~11:50             주제 : 전쟁과 평화
2     교필  AC00007  인권과평화  조경희  7308/화/10:00~11:50            주제 : 혐오와 교차성
3     교필  AC00007  인권과평화  오영숙  7208/화/10:00~11:50  주제 : 글로벌 스크린으로 \n보는 인권
4     교필  AC00007  인권과평화  박상희  7309/화/10:00~11:50     주제 : 세계시민의 비전과 \n도전

In [17]:
# 변수 이름 변경
for index, df in enumerate(tlist):
    tlist[index].columns = ['kind','code','classname','prof','rnt','check']

In [18]:
tlist[0]

  kind     code classname prof                 rnt                   check
1   교필  AC00007     인권과평화  강성현  7207/화/10:00~11:50             주제 : 전쟁과 평화
2   교필  AC00007     인권과평화  조경희  7308/화/10:00~11:50            주제 : 혐오와 교차성
3   교필  AC00007     인권과평화  오영숙  7208/화/10:00~11:50  주제 : 글로벌 스크린으로 \n보는 인권
4   교필  AC00007     인권과평화  박상희  7309/화/10:00~11:50     주제 : 세계시민의 비전과 \n도전

In [19]:
tlist[:5]

[  kind     code classname prof                 rnt                   check
 1   교필  AC00007     인권과평화  강성현  7207/화/10:00~11:50             주제 : 전쟁과 평화
 2   교필  AC00007     인권과평화  조경희  7308/화/10:00~11:50            주제 : 혐오와 교차성
 3   교필  AC00007     인권과평화  오영숙  7208/화/10:00~11:50  주제 : 글로벌 스크린으로 \n보는 인권
 4   교필  AC00007     인권과평화  박상희  7309/화/10:00~11:50     주제 : 세계시민의 비전과 \n도전,
    kind     code classname prof                 rnt check
 1    교필  AC00013       말과글  오현화  1503/수/09:00~10:50
 2    교필  AC00013       말과글  오현화  1503/수/11:00~12:50
 3    교필  AC00013       말과글  곽승숙  1504/수/09:00~10:50
 4    교필  AC00013       말과글  곽승숙  1504/수/11:00~12:50
 5    교필  AC00013       말과글  오현화  1503/목/09:00~10:50
 6    교필  AC00013       말과글  오현화  1503/목/11:00~12:50
 7    교필  AC00013       말과글  신동옥  1504/수/09:00~10:50
 8    교필  AC00013       말과글  신동옥  1504/수/11:00~12:50
 9    교필  AC00013       말과글  성아사  1505/목/09:00~10:50
 10   교필  AC00013       말과글  성아사  1505/목/11:00~12:50      ,
   kind     code   classname       prof                 rnt check
 1   교필  AC00016  과학기술과 에콜로지        김병수  7207/금/13:00~14:50
 2   교필  AC00016  과학기술과 에콜로지  *김명철\n신익상  7207/금/15:00~16:50
 3   교필  AC00016  과학기술과 에콜로지  *김명철\n신익상  7308/금/13:00~14:50
 4   교필  AC00016  과학기술과 에콜로지  *신익상\n김명철  7308/금/15:00~16:50
 5   교필  AC00016  과학기술과 에콜로지  *신익상\n김명철  7309/금/13:00~14:50      ,
   kind     code    classname prof                 rnt check
 1   교필  AC00015  데이터 활용 및 분석  박정식  B105/금/13:00~14:50
 2   교필  AC00015  데이터 활용 및 분석  박정식  B105/금/15:00~16:50
 3   교필  AC00015  데이터 활용 및 분석  윤명호  M401/금/13:00~14:50
 4   교필  AC00015  데이터 활용 및 분석  윤명호  M401/금/15:00~16:50
 5   교필  AC00015  데이터 활용 및 분석  이해신  3302/금/13:00~14:50
 6   교필  AC00015  데이터 활용 및 분석  이해신  3302/금/15:00~16:50
 7   교필  AC00015  데이터 활용 및 분석  유상신  6201/금/13:00~14:50
 8   교필  AC00015  데이터 활용 및 분석  김덕봉  6201/금/15:00~16:50      ,
    kind     code   classname prof                 rnt      check
 1    교필  AK00060  대학생활세미나 II  윤영도  7304/금/10:00~10:50     인문융합3반
 2    교필  AK00060  대학생활세미나 II  이주엽  7307/금/10:00~10:50     인문융합4반
 3    교필  AK00060  대학생활세미나 II  김혜인  7304/금/11:00~11:50     인문융합1반
 4    교필  AK00060  대학생활세미나 II  양기호  7307/금/11:00~11:50     인문융합2반
 5    교필  AK00060  대학생활세미나 II  이상철  7205/금/10:00~10:50     사회융합3반
 6    교필  AK00060  대학생활세미나 II  남일성  7206/금/10:00~10:50     사회융합4반
 7    교필  AK00060  대학생활세미나 II  정연보  7205/금/11:00~11:50     사회융합1반
 8    교필  AK00060  대학생활세미나 II  윤석준  7206/금/11:00~11:50     사회융합2반
 9    교필  AK00060  대학생활세미나 II  김창남  7301/금/10:00~10:50    미디어융합3반
 10   교필  AK00060  대학생활세미나 II  이원정  6402/금/10:00~10:50    미디어융합4반
 11   교필  AK00060  대학생활세미나 II  김창남  7301/금/11:00~11:50    미디어융합1반
 12   교필  AK00060  대학생활세미나 II  이원정  6402/금/11:00~11:50    미디어융합2반
 13   교필  AK00060  대학생활세미나 II  최우석  7204/금/11:00~11:50       경영2반
 14   교필  AK00060  대학생활세미나 II  송재민  7303/금/11:00~11:50       경영1반
 15   교필  AK00060  대학생활세미나 II  김수림  7204/금/10:00~10:50     미래융합2반
 16   교필  AK00060  대학생활세미나 II  곽승우  6405/금/10:00~10:50     미래융합1반
 17   교필  AK00060  대학생활세미나 II  박정식  6404/금/10:00~10:50  소프트웨어융합4반]

In [20]:
# 확인 사항 반영(인평:1번, 대생세:5, 6번, 채플:20, 21번)
for index in [0, 4, 5, 19, 20]:
    df = tlist[index]
    df['classname'] = df['classname']+'('+df['check']+')'
    tlist[index] = df

In [21]:
tlist[17]

,kind,code,classname,prof,rnt,check
1,교선,AE00029,사회봉사II,김연아,,-출석수업 없음- \n1)사회봉사I또는해외봉사또는농촌봉사또는\n CUAC서비스...
2,교선,AE00092,필란트로피의 이해와 실천,이선희,M406/화/15:00~17:50,
3,교선,AK00080,대학생사회공헌프로젝트2,김연아,7305/수/15:00~17:50,2024-1학기 신규개설\n1) 사회봉사 필수 교과목 이수자만 수강가능\n2) 총 ...

In [22]:
tlist[0:6]

[  kind     code                      classname prof                 rnt  \
 1   교필  AC00007             인권과평화(주제 : 전쟁과 평화)  강성현  7207/화/10:00~11:50
 2   교필  AC00007            인권과평화(주제 : 혐오와 교차성)  조경희  7308/화/10:00~11:50
 3   교필  AC00007  인권과평화(주제 : 글로벌 스크린으로 \n보는 인권)  오영숙  7208/화/10:00~11:50
 4   교필  AC00007     인권과평화(주제 : 세계시민의 비전과 \n도전)  박상희  7309/화/10:00~11:50

                     check
 1             주제 : 전쟁과 평화
 2            주제 : 혐오와 교차성
 3  주제 : 글로벌 스크린으로 \n보는 인권
 4     주제 : 세계시민의 비전과 \n도전  ,
    kind     code classname prof                 rnt check
 1    교필  AC00013       말과글  오현화  1503/수/09:00~10:50
 2    교필  AC00013       말과글  오현화  1503/수/11:00~12:50
 3    교필  AC00013       말과글  곽승숙  1504/수/09:00~10:50
 4    교필  AC00013       말과글  곽승숙  1504/수/11:00~12:50
 5    교필  AC00013       말과글  오현화  1503/목/09:00~10:50
 6    교필  AC00013       말과글  오현화  1503/목/11:00~12:50
 7    교필  AC00013       말과글  신동옥  1504/수/09:00~10:50
 8    교필  AC00013       말과글  신동옥  1504/수/11:00~12:50
 9    교필  AC00013       말과글  성아사  1505/목/09:00~10:50
 10   교필  AC00013       말과글  성아사  1505/목/11:00~12:50      ,
   kind     code   classname       prof                 rnt check
 1   교필  AC00016  과학기술과 에콜로지        김병수  7207/금/13:00~14:50
 2   교필  AC00016  과학기술과 에콜로지  *김명철\n신익상  7207/금/15:00~16:50
 3   교필  AC00016  과학기술과 에콜로지  *김명철\n신익상  7308/금/13:00~14:50
 4   교필  AC00016  과학기술과 에콜로지  *신익상\n김명철  7308/금/15:00~16:50
 5   교필  AC00016  과학기술과 에콜로지  *신익상\n김명철  7309/금/13:00~14:50      ,
   kind     code    classname prof                 rnt check
 1   교필  AC00015  데이터 활용 및 분석  박정식  B105/금/13:00~14:50
 2   교필  AC00015  데이터 활용 및 분석  박정식  B105/금/15:00~16:50
 3   교필  AC00015  데이터 활용 및 분석  윤명호  M401/금/13:00~14:50
 4   교필  AC00015  데이터 활용 및 분석  윤명호  M401/금/15:00~16:50
 5   교필  AC00015  데이터 활용 및 분석  이해신  3302/금/13:00~14:50
 6   교필  AC00015  데이터 활용 및 분석  이해신  3302/금/15:00~16:50
 7   교필  AC00015  데이터 활용 및 분석  유상신  6201/금/13:00~14:50
 8   교필  AC00015  데이터 활용 및 분석  김덕봉  6201/금/15:00~16:50      ,
    kind     code              classname prof                 rnt      check
 1    교필  AK00060     대학생활세미나 II(인문융합3반)  윤영도  7304/금/10:00~10:50     인문융합3반
 2    교필  AK00060     대학생활세미나 II(인문융합4반)  이주엽  7307/금/10:00~10:50     인문융합4반
 3    교필  AK00060     대학생활세미나 II(인문융합1반)  김혜인  7304/금/11:00~11:50     인문융합1반
 4    교필  AK00060     대학생활세미나 II(인문융합2반)  양기호  7307/금/11:00~11:50     인문융합2반
 5    교필  AK00060     대학생활세미나 II(사회융합3반)  이상철  7205/금/10:00~10:50     사회융합3반
 6    교필  AK00060     대학생활세미나 II(사회융합4반)  남일성  7206/금/10:00~10:50     사회융합4반
 7    교필  AK00060     대학생활세미나 II(사회융합1반)  정연보  7205/금/11:00~11:50     사회융합1반
 8    교필  AK00060     대학생활세미나 II(사회융합2반)  윤석준  7206/금/11:00~11:50     사회융합2반
 9    교필  AK00060    대학생활세미나 II(미디어융합3반)  김창남  7301/금/10:00~10:50    미디어융합3반
 10   교필  AK00060    대학생활세미나 II(미디어융합4반)  이원정  6402/금/10:00~10:50    미디어융합4반
 11   교필  AK00060    대학생활세미나 II(미디어융합1반)  김창남  7301/금/11:00~11:50    미디어융합1반
 12   교필  AK00060    대학생활세미나 II(미디어융합2반)  이원정  6402/금/11:00~11:50    미디어융합2반
 13   교필  AK00060       대학생활세미나 II(경영2반)  최우석  7204/금/11:00~11:50       경영2반
 14   교필  AK00060       대학생활세미나 II(경영1반)  송재민  7303/금/11:00~11:50       경영1반
 15   교필  AK00060     대학생활세미나 II(미래융합2반)  김수림  7204/금/10:00~10:50     미래융합2반
 16   교필  AK00060     대학생활세미나 II(미래융합1반)  곽승우  6405/금/10:00~10:50     미래융합1반
 17   교필  AK00060  대학생활세미나 II(소프트웨어융합4반)  박정식  6404/금/10:00~10:50  소프트웨어융합4반,
   kind     code              classname prof                 rnt      check
 1   교필  AK00060  대학생활세미나 II(소프트웨어융합5반)  정연식  6109/금/10:00~10:50  소프트웨어융합5반
 2   교필  AK00060  대학생활세미나 II(소프트웨어융합6반)  김선형  M401/금/10:00~10:50  소프트웨어융합6반
 3   교필  AK00060  대학생활세미나 II(소프트웨어융합1반)  박정식  6404/금/11:00~11:50  소프트웨어융합1반
 4   교필  AK00060  대학생활세미나 II(소프트웨어융합2반)  정연식  6109/금/11:00~11:50  소프트웨어융합2반
 5   교필  AK00060  대학생활세미나 II(소프트웨어융합3반)  김선형  M401/금/11:00~11:50  소프트웨어융합3반]

In [23]:
# 확인사항 열 삭제 
for index, df in enumerate(tlist):
    tlist[index] =  df.loc[:, ['kind','code','classname','prof','rnt']]

In [24]:
tlist[:5]

[  kind     code                      classname prof                 rnt
 1   교필  AC00007             인권과평화(주제 : 전쟁과 평화)  강성현  7207/화/10:00~11:50
 2   교필  AC00007            인권과평화(주제 : 혐오와 교차성)  조경희  7308/화/10:00~11:50
 3   교필  AC00007  인권과평화(주제 : 글로벌 스크린으로 \n보는 인권)  오영숙  7208/화/10:00~11:50
 4   교필  AC00007     인권과평화(주제 : 세계시민의 비전과 \n도전)  박상희  7309/화/10:00~11:50,
    kind     code classname prof                 rnt
 1    교필  AC00013       말과글  오현화  1503/수/09:00~10:50
 2    교필  AC00013       말과글  오현화  1503/수/11:00~12:50
 3    교필  AC00013       말과글  곽승숙  1504/수/09:00~10:50
 4    교필  AC00013       말과글  곽승숙  1504/수/11:00~12:50
 5    교필  AC00013       말과글  오현화  1503/목/09:00~10:50
 6    교필  AC00013       말과글  오현화  1503/목/11:00~12:50
 7    교필  AC00013       말과글  신동옥  1504/수/09:00~10:50
 8    교필  AC00013       말과글  신동옥  1504/수/11:00~12:50
 9    교필  AC00013       말과글  성아사  1505/목/09:00~10:50
 10   교필  AC00013       말과글  성아사  1505/목/11:00~12:50,
   kind     code   classname       prof                 rnt
 1   교필  AC00016  과학기술과 에콜로지        김병수  7207/금/13:00~14:50
 2   교필  AC00016  과학기술과 에콜로지  *김명철\n신익상  7207/금/15:00~16:50
 3   교필  AC00016  과학기술과 에콜로지  *김명철\n신익상  7308/금/13:00~14:50
 4   교필  AC00016  과학기술과 에콜로지  *신익상\n김명철  7308/금/15:00~16:50
 5   교필  AC00016  과학기술과 에콜로지  *신익상\n김명철  7309/금/13:00~14:50,
   kind     code    classname prof                 rnt
 1   교필  AC00015  데이터 활용 및 분석  박정식  B105/금/13:00~14:50
 2   교필  AC00015  데이터 활용 및 분석  박정식  B105/금/15:00~16:50
 3   교필  AC00015  데이터 활용 및 분석  윤명호  M401/금/13:00~14:50
 4   교필  AC00015  데이터 활용 및 분석  윤명호  M401/금/15:00~16:50
 5   교필  AC00015  데이터 활용 및 분석  이해신  3302/금/13:00~14:50
 6   교필  AC00015  데이터 활용 및 분석  이해신  3302/금/15:00~16:50
 7   교필  AC00015  데이터 활용 및 분석  유상신  6201/금/13:00~14:50
 8   교필  AC00015  데이터 활용 및 분석  김덕봉  6201/금/15:00~16:50,
    kind     code              classname prof                 rnt
 1    교필  AK00060     대학생활세미나 II(인문융합3반)  윤영도  7304/금/10:00~10:50
 2    교필  AK00060     대학생활세미나 II(인문융합4반)  이주엽  7307/금/10:00~10:50
 3    교필  AK00060     대학생활세미나 II(인문융합1반)  김혜인  7304/금/11:00~11:50
 4    교필  AK00060     대학생활세미나 II(인문융합2반)  양기호  7307/금/11:00~11:50
 5    교필  AK00060     대학생활세미나 II(사회융합3반)  이상철  7205/금/10:00~10:50
 6    교필  AK00060     대학생활세미나 II(사회융합4반)  남일성  7206/금/10:00~10:50
 7    교필  AK00060     대학생활세미나 II(사회융합1반)  정연보  7205/금/11:00~11:50
 8    교필  AK00060     대학생활세미나 II(사회융합2반)  윤석준  7206/금/11:00~11:50
 9    교필  AK00060    대학생활세미나 II(미디어융합3반)  김창남  7301/금/10:00~10:50
 10   교필  AK00060    대학생활세미나 II(미디어융합4반)  이원정  6402/금/10:00~10:50
 11   교필  AK00060    대학생활세미나 II(미디어융합1반)  김창남  7301/금/11:00~11:50
 12   교필  AK00060    대학생활세미나 II(미디어융합2반)  이원정  6402/금/11:00~11:50
 13   교필  AK00060       대학생활세미나 II(경영2반)  최우석  7204/금/11:00~11:50
 14   교필  AK00060       대학생활세미나 II(경영1반)  송재민  7303/금/11:00~11:50
 15   교필  AK00060     대학생활세미나 II(미래융합2반)  김수림  7204/금/10:00~10:50
 16   교필  AK00060     대학생활세미나 II(미래융합1반)  곽승우  6405/금/10:00~10:50
 17   교필  AK00060  대학생활세미나 II(소프트웨어융합4반)  박정식  6404/금/10:00~10:50]

In [25]:
# 사회봉사 삭제 
df = tlist[17]
df

  kind     code      classname prof                 rnt
1   교선  AE00029         사회봉사II  김연아
2   교선  AE00092  필란트로피의 이해와 실천  이선희  M406/화/15:00~17:50
3   교선  AK00080   대학생사회공헌프로젝트2  김연아  7305/수/15:00~17:50

In [26]:
df = df[1:]
tlist[17] = df

df

  kind     code      classname prof                 rnt
2   교선  AE00092  필란트로피의 이해와 실천  이선희  M406/화/15:00~17:50
3   교선  AK00080   대학생사회공헌프로젝트2  김연아  7305/수/15:00~17:50

In [27]:
tlist[17]

  kind     code      classname prof                 rnt
2   교선  AE00092  필란트로피의 이해와 실천  이선희  M406/화/15:00~17:50
3   교선  AK00080   대학생사회공헌프로젝트2  김연아  7305/수/15:00~17:50

# 모든 데이터프레임 하나로 합치기

In [34]:
import pandas as pd
table = pd.concat(tlist)

In [35]:
table

,kind,code,classname,prof,rnt
1,교필,AC00007,인권과평화(주제 : 전쟁과 평화),강성현,7207/화/10:00~11:50
2,교필,AC00007,인권과평화(주제 : 혐오와 교차성),조경희,7308/화/10:00~11:50
3,교필,AC00007,인권과평화(주제 : 글로벌 스크린으로 \n보는 인권),오영숙,7208/화/10:00~11:50
4,교필,AC00007,인권과평화(주제 : 세계시민의 비전과 \n도전),박상희,7309/화/10:00~11:50
1,교필,AC00013,말과글,오현화,1503/수/09:00~10:50
...,...,...,...,...,...
6,전선,XE00016,인공지능수학,곽승우,6405 / 화 / 15:00~16:15\n6405 / 목 / 15:00~16:15
7,전선,XE00017,자료구조와알고리즘,홍성준,6206 / 화 / 09:00~11:50
8,전선,XE00018,강화학습,이상윤,6405 / 화 / 16:30~17:45\n6405 / 목 / 16:30~17:45
9,전선,XE00019,디지털영상처리,곽승우,6405 / 목 / 09:00~11:50
10,전선,XE00020,데이터기초수학1,백지현,6405 / 월 / 13:30~14:45\n6405 / 수 / 13:30~14:45

In [36]:
# 인덱스 정리
table.reset_index(drop=True, inplace=True)

In [37]:
table

,kind,code,classname,prof,rnt
0,교필,AC00007,인권과평화(주제 : 전쟁과 평화),강성현,7207/화/10:00~11:50
1,교필,AC00007,인권과평화(주제 : 혐오와 교차성),조경희,7308/화/10:00~11:50
2,교필,AC00007,인권과평화(주제 : 글로벌 스크린으로 \n보는 인권),오영숙,7208/화/10:00~11:50
3,교필,AC00007,인권과평화(주제 : 세계시민의 비전과 \n도전),박상희,7309/화/10:00~11:50
4,교필,AC00013,말과글,오현화,1503/수/09:00~10:50
...,...,...,...,...,...
379,전선,XE00016,인공지능수학,곽승우,6405 / 화 / 15:00~16:15\n6405 / 목 / 15:00~16:15
380,전선,XE00017,자료구조와알고리즘,홍성준,6206 / 화 / 09:00~11:50
381,전선,XE00018,강화학습,이상윤,6405 / 화 / 16:30~17:45\n6405 / 목 / 16:30~17:45
382,전선,XE00019,디지털영상처리,곽승우,6405 / 목 / 09:00~11:50
383,전선,XE00020,데이터기초수학1,백지현,6405 / 월 / 13:30~14:45\n6405 / 수 / 13:30~14:45

In [52]:
table[303:309] #예외발견

    kind     code classname prof  room date1 date2  start    end
303   전선  PA00046     인턴십II  이원정     -   NaN   NaN    NaN    NaN
304   전선  PA00052      졸업지도  이원정  6402   목요일   NaN  13:00  13:50
305   전선  PA00052      졸업지도  김대우  6402   월요일   NaN  17:00  17:50
306   전선  PA00052      졸업지도  이영아  6402   금요일   NaN  15:00  15:50
307   전선  PA00053    인턴십세미나  이원정  7417   수요일   NaN  17:00  17:50
308   전선  PA00054     인턴십 I  이원정     -   NaN   NaN    NaN    NaN

# 강의실, 시간, 요일 컬럼 나누기

In [39]:
# rnt 공백문자 제거
table['rnt'] = table['rnt'].str.replace(" ", "", ) #공백문자 제거. 세 번째 매개변수 비워두면 모든 행의 공백 제거
table[375:]

    kind     code  classname prof                                     rnt
375   전필  XE00002       머신러닝  홍성준  6206/월/15:00~16:15\n6206/수/15:00~16:15
376   전선  XE00009      심층신경망  홍성준                      6405/수/09:00~11:50
377   전선  XE00010   오픈소스SW개발  이상윤  6206/화/15:00~16:15\n6206/목/15:00~16:15
378   전선  XE00011   인공지능문제해결  이상윤                      6405/화/09:00~11:50
379   전선  XE00016     인공지능수학  곽승우  6405/화/15:00~16:15\n6405/목/15:00~16:15
380   전선  XE00017  자료구조와알고리즘  홍성준                      6206/화/09:00~11:50
381   전선  XE00018       강화학습  이상윤  6405/화/16:30~17:45\n6405/목/16:30~17:45
382   전선  XE00019    디지털영상처리  곽승우                      6405/목/09:00~11:50
383   전선  XE00020   데이터기초수학1  백지현  6405/월/13:30~14:45\n6405/수/13:30~14:45

In [40]:
# 주2회 수업 특징 : '/n' 존재 -> 이거 기준으로 자르기. 순서 중요

table['rnt2'] = table.rnt.str.split('\n').str[1] # '\n' 기준으로 자른것의 두 번째 값
table['rnt'] = table.rnt.str.split('\n').str[0] # '\n' 기준으로 자른것의 첫 번째 값
table
# '/n'없는 수업은 room_time2에 nan

,kind,code,classname,prof,rnt,rnt2
0,교필,AC00007,인권과평화(주제 : 전쟁과 평화),강성현,7207/화/10:00~11:50,NaN
1,교필,AC00007,인권과평화(주제 : 혐오와 교차성),조경희,7308/화/10:00~11:50,NaN
2,교필,AC00007,인권과평화(주제 : 글로벌 스크린으로 \n보는 인권),오영숙,7208/화/10:00~11:50,NaN
3,교필,AC00007,인권과평화(주제 : 세계시민의 비전과 \n도전),박상희,7309/화/10:00~11:50,NaN
4,교필,AC00013,말과글,오현화,1503/수/09:00~10:50,NaN
...,...,...,...,...,...,...
379,전선,XE00016,인공지능수학,곽승우,6405/화/15:00~16:15,6405/목/15:00~16:15
380,전선,XE00017,자료구조와알고리즘,홍성준,6206/화/09:00~11:50,NaN
381,전선,XE00018,강화학습,이상윤,6405/화/16:30~17:45,6405/목/16:30~17:45
382,전선,XE00019,디지털영상처리,곽승우,6405/목/09:00~11:50,NaN
383,전선,XE00020,데이터기초수학1,백지현,6405/월/13:30~14:45,6405/수/13:30~14:45

In [41]:
# rnt/rnt2의 강의실,시간이 서로 동일한지 확인
deleted_nan = table.dropna(axis=0, how='any', subset=['rnt2'], inplace=False).copy()# rnt2가 nan인 데이터 제외시키기
# COPY 안하면 경고뜸

In [42]:
deleted_nan

,kind,code,classname,prof,rnt,rnt2
63,교선,AK00101,한국경제알아보기,이상철,M402/화/15:00~16:15,M402/목/15:00~16:15
92,교선,AD00003,기초일본어,요코야마\n나호코,7207/월/13:30~14:45,7207/수/13:30~14:45
93,교선,AD00004,실용 일본어,요코야마\n나호코,7308/월/12:00~13:15,7308/수/12:00~13:15
133,전탐,BH00005,네이티브일본어회화,요코야마 \n나호코,7208/화요일/13:30~14:45,7208/목요일/13:30~14:45
134,전탐,BH00006,쉽게배우는중국어,장엽,7309/월요일/16:30~17:45,7309/수요일/16:30~17:45
...,...,...,...,...,...,...
375,전필,XE00002,머신러닝,홍성준,6206/월/15:00~16:15,6206/수/15:00~16:15
377,전선,XE00010,오픈소스SW개발,이상윤,6206/화/15:00~16:15,6206/목/15:00~16:15
379,전선,XE00016,인공지능수학,곽승우,6405/화/15:00~16:15,6405/목/15:00~16:15
381,전선,XE00018,강화학습,이상윤,6405/화/16:30~17:45,6405/목/16:30~17:45
383,전선,XE00020,데이터기초수학1,백지현,6405/월/13:30~14:45,6405/수/13:30~14:45

In [43]:
deleted_nan['test_room'] = (deleted_nan.rnt.str.split('/').str[0] != deleted_nan.rnt2.str.split('/').str[0])
deleted_nan['test_time'] = (deleted_nan.rnt.str.split('/').str[2] != deleted_nan.rnt2.str.split('/').str[2])

In [44]:
deleted_nan

,kind,code,classname,prof,rnt,rnt2,test_room,test_time
63,교선,AK00101,한국경제알아보기,이상철,M402/화/15:00~16:15,M402/목/15:00~16:15,False,False
92,교선,AD00003,기초일본어,요코야마\n나호코,7207/월/13:30~14:45,7207/수/13:30~14:45,False,False
93,교선,AD00004,실용 일본어,요코야마\n나호코,7308/월/12:00~13:15,7308/수/12:00~13:15,False,False
133,전탐,BH00005,네이티브일본어회화,요코야마 \n나호코,7208/화요일/13:30~14:45,7208/목요일/13:30~14:45,False,False
134,전탐,BH00006,쉽게배우는중국어,장엽,7309/월요일/16:30~17:45,7309/수요일/16:30~17:45,False,False
...,...,...,...,...,...,...,...,...
375,전필,XE00002,머신러닝,홍성준,6206/월/15:00~16:15,6206/수/15:00~16:15,False,False
377,전선,XE00010,오픈소스SW개발,이상윤,6206/화/15:00~16:15,6206/목/15:00~16:15,False,False
379,전선,XE00016,인공지능수학,곽승우,6405/화/15:00~16:15,6405/목/15:00~16:15,False,False
381,전선,XE00018,강화학습,이상윤,6405/화/16:30~17:45,6405/목/16:30~17:45,False,False
383,전선,XE00020,데이터기초수학1,백지현,6405/월/13:30~14:45,6405/수/13:30~14:45,False,False

In [45]:
# 주 2회 수업 중 강의실과 시간이 다른 행 추출
deleted_nan[deleted_nan['test_room']==True]

Empty DataFrame
Columns: [kind, code, classname, prof, rnt, rnt2, test_room, test_time]
Index: []

In [46]:
deleted_nan[deleted_nan['test_time']==True]

Empty DataFrame
Columns: [kind, code, classname, prof, rnt, rnt2, test_room, test_time]
Index: []

In [47]:
# 강의실, 강의시간, 강의요일 분리
table['room'] = table.rnt.str.split('/').str[0] 
table['date1'] = table.rnt.str.split('/').str[1] 
table['date2'] = table.rnt2.str.split('/').str[1] 
table['start'] = table.rnt.str.split('/').str[2].str.split('~').str[0]
table['end'] = table.rnt.str.split('/').str[2].str.split('~').str[1]
table

,kind,code,classname,prof,rnt,rnt2,room,date1,date2,start,end
0,교필,AC00007,인권과평화(주제 : 전쟁과 평화),강성현,7207/화/10:00~11:50,NaN,7207,화,NaN,10:00,11:50
1,교필,AC00007,인권과평화(주제 : 혐오와 교차성),조경희,7308/화/10:00~11:50,NaN,7308,화,NaN,10:00,11:50
2,교필,AC00007,인권과평화(주제 : 글로벌 스크린으로 \n보는 인권),오영숙,7208/화/10:00~11:50,NaN,7208,화,NaN,10:00,11:50
3,교필,AC00007,인권과평화(주제 : 세계시민의 비전과 \n도전),박상희,7309/화/10:00~11:50,NaN,7309,화,NaN,10:00,11:50
4,교필,AC00013,말과글,오현화,1503/수/09:00~10:50,NaN,1503,수,NaN,09:00,10:50
...,...,...,...,...,...,...,...,...,...,...,...
379,전선,XE00016,인공지능수학,곽승우,6405/화/15:00~16:15,6405/목/15:00~16:15,6405,화,목,15:00,16:15
380,전선,XE00017,자료구조와알고리즘,홍성준,6206/화/09:00~11:50,NaN,6206,화,NaN,09:00,11:50
381,전선,XE00018,강화학습,이상윤,6405/화/16:30~17:45,6405/목/16:30~17:45,6405,화,목,16:30,17:45
382,전선,XE00019,디지털영상처리,곽승우,6405/목/09:00~11:50,NaN,6405,목,NaN,09:00,11:50
383,전선,XE00020,데이터기초수학1,백지현,6405/월/13:30~14:45,6405/수/13:30~14:45,6405,월,수,13:30,14:45

In [48]:
table.drop(['rnt', 'rnt2'], axis=1, inplace=True) #필요없는 열 삭제

In [49]:
table

,kind,code,classname,prof,room,date1,date2,start,end
0,교필,AC00007,인권과평화(주제 : 전쟁과 평화),강성현,7207,화,NaN,10:00,11:50
1,교필,AC00007,인권과평화(주제 : 혐오와 교차성),조경희,7308,화,NaN,10:00,11:50
2,교필,AC00007,인권과평화(주제 : 글로벌 스크린으로 \n보는 인권),오영숙,7208,화,NaN,10:00,11:50
3,교필,AC00007,인권과평화(주제 : 세계시민의 비전과 \n도전),박상희,7309,화,NaN,10:00,11:50
4,교필,AC00013,말과글,오현화,1503,수,NaN,09:00,10:50
...,...,...,...,...,...,...,...,...,...
379,전선,XE00016,인공지능수학,곽승우,6405,화,목,15:00,16:15
380,전선,XE00017,자료구조와알고리즘,홍성준,6206,화,NaN,09:00,11:50
381,전선,XE00018,강화학습,이상윤,6405,화,목,16:30,17:45
382,전선,XE00019,디지털영상처리,곽승우,6405,목,NaN,09:00,11:50
383,전선,XE00020,데이터기초수학1,백지현,6405,월,수,13:30,14:45

# 예외처리

In [51]:
# nan 제거하기
table[table.start.isna() | table.end.isna()]

    kind     code classname prof room date1 date2 start  end
303   전선  PA00046     인턴십II  이원정    -   NaN   NaN   NaN  NaN
308   전선  PA00054     인턴십 I  이원정    -   NaN   NaN   NaN  NaN

In [53]:
table.dropna(subset=['start'], how='any', axis=0, inplace=True)
table[303:309]

    kind     code      classname prof  room date1 date2  start    end
304   전선  PA00052           졸업지도  이원정  6402   목요일   NaN  13:00  13:50
305   전선  PA00052           졸업지도  김대우  6402   월요일   NaN  17:00  17:50
306   전선  PA00052           졸업지도  이영아  6402   금요일   NaN  15:00  15:50
307   전선  PA00053         인턴십세미나  이원정  7417   수요일   NaN  17:00  17:50
309   전선  PC00002     콘텐츠프로듀싱실무론  곽미서  6110   금요일   NaN  09:00  11:50
310   전선  PC00004  스톱모션애니메이션제작실습  전승배  M401   월요일   NaN  12:00  14:50

In [55]:
table.reset_index(drop=True, inplace=True)

In [58]:
len(table)

382

In [59]:
# 시간이 :(콜론)으로 작성되지 않은 것 찾기 //특정문자포함행 추출
len(table[table['start'].str.contains(":") & table['end'].str.contains(":")])

382

In [60]:
# room이 미지정인것 찾기
table[table.room.isna()]

Empty DataFrame
Columns: [kind, code, classname, prof, room, date1, date2, start, end]
Index: []

In [61]:
table[table['room']=='9999']

    kind     code classname prof  room date1 date2  start    end
215   전선  MA00035  사회복지현장실습  서진환  9999     토   NaN  09:00  11:50
216   전선  MA00035  사회복지현장실습  이동림  9999     토   NaN  09:00  11:50

In [62]:
table = table[table.room != '9999']
table[214:217]

    kind     code      classname prof  room date1 date2  start    end
214   전선  MA00033  융복합디지털사회복지혁신랩  이동림  1504     화   NaN  12:00  14:50
217   전선  MA00036      인간행동과사회환경  김은영  M402     화   NaN  12:00  14:50
218   전선  MA00037        사회복지조사론  김형돈  7202     수   NaN  09:00  11:50

In [63]:
table.reset_index(drop=True, inplace=True)

# 관 컬럼추가

In [64]:
import numpy as np

In [65]:
ktable = table.copy()

In [66]:
ktable['kwan'] = ktable['room'].str[0]

conditionlist = [
    (ktable['kwan'] == '1'),
    (ktable['kwan'] == '3'), 
    (ktable['kwan'] == 'M'),
    (ktable['kwan'] == '9'),
    (ktable['kwan'] == '7'),
    (ktable['kwan'] == '6'),
    (ktable['kwan'] == 'B'),
    (ktable['kwan'] == '5')
] #첫 문자로 관 판별
choicelist = [
    '승연관',
    '월당관',
    '미가엘관',
    '성미가엘성당&피츠버그홀',
    '새천년관',
    '정보과학관',
    '일만관',
    '나눔관'
]

ktable['kwan'] = np.select(conditionlist, choicelist, default='미정')

In [67]:
ktable

,kind,code,classname,prof,room,date1,date2,start,end,kwan
0,교필,AC00007,인권과평화(주제 : 전쟁과 평화),강성현,7207,화,NaN,10:00,11:50,새천년관
1,교필,AC00007,인권과평화(주제 : 혐오와 교차성),조경희,7308,화,NaN,10:00,11:50,새천년관
2,교필,AC00007,인권과평화(주제 : 글로벌 스크린으로 \n보는 인권),오영숙,7208,화,NaN,10:00,11:50,새천년관
3,교필,AC00007,인권과평화(주제 : 세계시민의 비전과 \n도전),박상희,7309,화,NaN,10:00,11:50,새천년관
4,교필,AC00013,말과글,오현화,1503,수,NaN,09:00,10:50,승연관
...,...,...,...,...,...,...,...,...,...,...
375,전선,XE00016,인공지능수학,곽승우,6405,화,목,15:00,16:15,정보과학관
376,전선,XE00017,자료구조와알고리즘,홍성준,6206,화,NaN,09:00,11:50,정보과학관
377,전선,XE00018,강화학습,이상윤,6405,화,목,16:30,17:45,정보과학관
378,전선,XE00019,디지털영상처리,곽승우,6405,목,NaN,09:00,11:50,정보과학관
379,전선,XE00020,데이터기초수학1,백지현,6405,월,수,13:30,14:45,정보과학관

In [68]:
table = ktable.copy()
table

,kind,code,classname,prof,room,date1,date2,start,end,kwan
0,교필,AC00007,인권과평화(주제 : 전쟁과 평화),강성현,7207,화,NaN,10:00,11:50,새천년관
1,교필,AC00007,인권과평화(주제 : 혐오와 교차성),조경희,7308,화,NaN,10:00,11:50,새천년관
2,교필,AC00007,인권과평화(주제 : 글로벌 스크린으로 \n보는 인권),오영숙,7208,화,NaN,10:00,11:50,새천년관
3,교필,AC00007,인권과평화(주제 : 세계시민의 비전과 \n도전),박상희,7309,화,NaN,10:00,11:50,새천년관
4,교필,AC00013,말과글,오현화,1503,수,NaN,09:00,10:50,승연관
...,...,...,...,...,...,...,...,...,...,...
375,전선,XE00016,인공지능수학,곽승우,6405,화,목,15:00,16:15,정보과학관
376,전선,XE00017,자료구조와알고리즘,홍성준,6206,화,NaN,09:00,11:50,정보과학관
377,전선,XE00018,강화학습,이상윤,6405,화,목,16:30,17:45,정보과학관
378,전선,XE00019,디지털영상처리,곽승우,6405,목,NaN,09:00,11:50,정보과학관
379,전선,XE00020,데이터기초수학1,백지현,6405,월,수,13:30,14:45,정보과학관

# 정렬

In [69]:
table.sort_values(by=['start', 'end', 'date1', 'room', 'kwan'], inplace=True) # 맵인스쿠 함수 작동에 편리하게 정렬
table

    kind     code classname prof  room date1 date2  start    end   kwan
8     교필  AC00013       말과글  오현화  1503     목   NaN  09:00  10:50    승연관
12    교필  AC00013       말과글  성아사  1505     목   NaN  09:00  10:50    승연관
4     교필  AC00013       말과글  오현화  1503     수   NaN  09:00  10:50    승연관
6     교필  AC00013       말과글  곽승숙  1504     수   NaN  09:00  10:50    승연관
10    교필  AC00013       말과글  신동옥  1504     수   NaN  09:00  10:50    승연관
..   ...      ...       ...  ...   ...   ...   ...    ...    ...    ...
302   전선  PA00052      졸업지도  김대우  6402   월요일   NaN  17:00  17:50  정보과학관
353   전필  XC00028      졸업지도  김명철  6206     목   NaN  18:25  19:15  정보과학관
367   전필  XC00028      졸업지도  김명철  6206     목   NaN  18:25  19:15  정보과학관
326   전선  XA00031     졸업지도2  김학수  6201     수   NaN  18:25  19:15  정보과학관
321   전선  XA00006     과정지도2  김덕봉  6201     월   NaN  18:25  19:15  정보과학관

[380 rows x 10 columns]

# 추가작업(요일이 '수요일'->'수' 로 수정)

In [70]:
table['date1'] = table.date1.str.split('요일').str[0]
table['date2'] = table.date2.str.split('요일').str[0]
table

    kind     code classname prof  room date1 date2  start    end   kwan
8     교필  AC00013       말과글  오현화  1503     목   NaN  09:00  10:50    승연관
12    교필  AC00013       말과글  성아사  1505     목   NaN  09:00  10:50    승연관
4     교필  AC00013       말과글  오현화  1503     수   NaN  09:00  10:50    승연관
6     교필  AC00013       말과글  곽승숙  1504     수   NaN  09:00  10:50    승연관
10    교필  AC00013       말과글  신동옥  1504     수   NaN  09:00  10:50    승연관
..   ...      ...       ...  ...   ...   ...   ...    ...    ...    ...
302   전선  PA00052      졸업지도  김대우  6402     월   NaN  17:00  17:50  정보과학관
353   전필  XC00028      졸업지도  김명철  6206     목   NaN  18:25  19:15  정보과학관
367   전필  XC00028      졸업지도  김명철  6206     목   NaN  18:25  19:15  정보과학관
326   전선  XA00031     졸업지도2  김학수  6201     수   NaN  18:25  19:15  정보과학관
321   전선  XA00006     과정지도2  김덕봉  6201     월   NaN  18:25  19:15  정보과학관

[380 rows x 10 columns]

# 데이터 저장

In [71]:
# 데이터 저장
table.to_csv('classes.csv', encoding='utf-8-sig', index=True)